<%- include('./includes/header', { title: 'Reach Us Out - Ingenious Construction' }) %>
<!-- Start Hero -->
<div class="sec-breadcrumb">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 class="ml14 p-t-5">
        <span class="text-wrapper">
          <span class="letters">Contact Us</span>
          <span class="line"></span>
        </span>
      </h2>
      <ol class="breadcrumb text-upper">
        <li class="m-right-10px">
          <a href="index.html">Home</a>
        </li>
        <li class="p-lr-1">/</li>
        <li class="breadcrumb-item-active">Contact Us</li>
      </ol>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start Contact Details -->
<section class="p-t-10 cs-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <div class="details-content">
          <div class="d-phone">
            <h6>Call Us</h6>
            <p>(907) 262-2578</p>
            <p>(907) 262-2578</p>
          </div>
          <div class="d-email">
            <h6>Drop Us A Message</h6>
            <h2 data-aos="fade-up" data-aos-duration="1000">hello@anglo.com</h2>
          </div>
          <div class="d-social">
            <h6>Social</h6>
            <div class="social-item">
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">Linkedin</a>
              <a href="#">Instagram</a>
              <a href="#">Dibbble</a>
              <a href="#">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form" data-aos="zoom-in">
    <form>
      <div class="form-row">
        <div class="input-control">
          <label>Your First Name</label>
          <input type="text" name="first-name" placeholder="First name here">
        </div>
        <div class="input-control">
          <label>Last Name</label>
          <input type="text" name="last-name" placeholder="Last name here">
        </div>
      </div>
      <div class="form-row">
        <div class="input-control">
          <label>Email Address</label>
          <input type="email" placeholder="Add Email">
        </div>
        <div class="input-control">
          <label>Subject</label>
          <input type="text" name="subject" placeholder="How can we help you?">
        </div>
      </div>
      <div class="i-msg input-control">
        <label>Comments / Questions</label>
        <input type="text" name="message" placeholder="Write Your Message Here...">
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>
</section>
<!-- End Contact Details -->

<!-- Stare Office Location -->
<section class="p-tb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12" data-aos="fade-up">
        <div class="office-box">
          <div class="box-inner box-inner-1">
            <h6>Head Office</h6>
            <h4>61973 State 415 Rte, Cohocton, New York 14826, USA</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
        <div class="office-box">
          <div class="box-inner box-inner-2">
            <h6>USA Office</h6>
            <h4>61973 State 415 Rte, Cohocton, New York 14826, USA</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 office-box" data-aos="fade-up" data-aos-duration="1200">
        <div class="office-box">
          <div class="box-inner box-inner-3">
            <h6>Asia Office</h6>
            <h4>61973 State 415 Rte, Cohocton, New York 14826, USA</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Office Location -->

<!-- Start Image -->
<div class="p-b-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contact-img" data-aos="fade-right">
        <img src="/assets/img/contact-h.jpg" alt="">
      </div>
      <div class="col-lg-6 jus-center contact-img" data-aos="fade-left">
        <img src="/assets/img/contact-s.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End Image -->
<%- include('./includes/footer') %>