<%- include('./includes/header', { title: 'Reach Us Out - SM Ingenious Construction (SMC- Private) Limited' }) %>
<!-- Start Hero -->
<div class="sec-breadcrumb">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 class="ml14 p-t-5">
        <span class="text-wrapper">
          <span class="letters">Contact Us</span>
          <span class="line"></span>
        </span>
      </h2>
      <ol class="breadcrumb text-upper">
        <li class="m-right-10px">
          <a href="/">Home</a>
        </li>
        <li class="p-lr-1">/</li>
        <li class="breadcrumb-item-active">Contact Us</li>
      </ol>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start Contact Details -->
<section class="p-t-10 cs-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <div class="details-content">
          <div class="d-phone">
            <h6>Call Us</h6>
            <p><a href="tel:+92 300-9285283">+92 300-9285283</a></p>
            <p><a href="tel:+92 333-9285283">+92 333-9285283</a></p>
            <p><a href="tel:+92 213-3484729">+92 213-3484729</a></p>
          </div>
          <div class="d-phone">
            <h6>Drop Us A Message</h6>
            <p data-aos="fade-up" data-aos-duration="1000"><a href="mailto:info@ingenious-construction.com">info@ingenious-construction.com</a></p>
          </div>
          <!-- <div class="d-social">
            <h6>Social</h6>
            <div class="social-item">
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">Linkedin</a>
              <a href="#">Instagram</a>
              <a href="#">Dibbble</a>
              <a href="#">Github</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form" data-aos="zoom-in">
    <form method="POST" action="/api/email/sendmail">
      <div class="form-row">
        <div class="input-control">
          <label>Your First Name</label>
          <input type="text" name="firstName" placeholder="First name here" required>
        </div>
        <div class="input-control">
          <label>Last Name</label>
          <input type="text" name="lastName" placeholder="Last name here" required>
        </div>
      </div>
      <div class="form-row">
        <div class="input-control">
          <label>Email Address</label>
          <input type="email" name="email" placeholder="Add Email" required>
        </div>
        <div class="input-control">
          <label>Phone</label>
          <input type="tel" name="phone" placeholder="Phone Number" required>
        </div>
      </div>
      <div class="form-row">        
        <div class="input-control w-100">
          <label>Subject</label>
          <input type="text" name="subject" placeholder="How can we help you?" required>
        </div>
      </div>
      <div class="i-msg input-control">
        <label>Comments / Questions</label>
        <textarea type="text" name="message" placeholder="Write Your Message Here..."></textarea>
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>
</section>
<!-- End Contact Details -->

<!-- Stare Office Location -->
<section class="p-tb-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-12" data-aos="fade-up">
        <div class="office-box">
          <div class="box-inner box-inner-1">
            <h6>Office Location</h6>
            <h4><a href="https://maps.app.goo.gl/kMzKPWJCGKw7mTpN8" target="_blank">Mashrique center Office 520 block 14 Gulshan. E. Iqbal Karachi.</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Office Location -->

<%- include('./includes/footer') %>