<%- include('./includes/header', { title: 'FAQ - SM Ingenious Construction (SMC- Private) Limited' }) %>

<!-- Start Hero -->
<div class="sec-breadcrumb">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 class="ml14 p-t-5">
        <span class="text-wrapper">
          <span class="letters">FAQ</span>
          <span class="line"></span>
        </span>
      </h2>
      <ol class="breadcrumb text-upper">
        <li class="m-right-10px">
          <a href="/">Home</a>
        </li>
        <li class="p-lr-1">/</li>
        <li class="breadcrumb-item-active">FAQ</li>
      </ol>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start FAQ -->
<section class="p-tb-10">
  <div class="container">
    <div class="row justi-center">
      <div class="according-container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="flush-headingOne">
              What services does your interior design agency offer?
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="flush-headingTwo">
              How do you source materials and furnishings for your projects?
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" id="flush-headingThree">
              Do you offer 3D renderings or virtual reality walkthroughs of proposed designs?
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" id="flush-headingFour">
              Can you provide references from past clients?
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" id="flush-headingFive">
              What is the typical timeline for a project, from start to finish?
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item m-b-2rem">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix" id="flush-headingSix">
              Do you work with contractors or other professionals to execute the design?
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven" id="flush-headingSeven">
              Can you provide references from past clients?
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency. An interior design agency can create content that showcases its work</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./includes/footer') %>