<%- include('./includes/header', { title: 'Project Detail - Ingenious Construction' }) %>
    

  <!-- Start Hero -->  
  <div class="sec-breadcrumb">
      <div class="container">
        <div class="breadcrumb-content text-center">
          <h2 class="ml14 p-t-5">
            <span class="text-wrapper">
              <span class="letters">Portfolio Details</span>
              <span class="line"></span>
            </span>
          </h2>
          <ol class="breadcrumb text-upper">
            <li class="m-right-10px">
              <a href="index.html">Home</a>
            </li>
            <li class="p-lr-1">/</li>
            <li class="breadcrumb-item-active">Project Details</li>
          </ol>
        </div>
      </div>
    </div>
  <!-- End Hero -->

  <!-- Start Portfolio Details -->
    <section>
      <div class="container p-tb-10">
        <div class="row">
          <div class="project-details-content">
            <div class="project-info p-b-5">
              <div class="col-lg-4">
                <h3>Interior Design</h3>
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency<p>             
              </div>
              <div class="col-lg-8">
                <div class="pd-info-item">
                  <div class="info-item">
                    <h3>Client</h3>
                    <p>Luxury Company Interior Design</p>
                  </div>
                  <div class="info-item">
                    <h3>Location</h3>
                    <p>New York, USA</p>
                  </div>
                  </div>
                  <div class="pd-info-item">
                    <div class="info-item">
                      <h3>Date</h3>
                      <p>18-5-2023</p>
                    </div>
                    <div class="info-item">
                      <h3>Size</h3>
                      <p>18,288m²</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-b-5">
              <img class="wow animate__fadeInUp" data-wow-duration="1s" src="/assets/img/full-width-first.jpg" alt="">
            </div>
            <div class="pd-details pd-details-1">
              <div class="col-lg-6 col-sm-12"  data-aos="fade-right" data-aos-duration="500">
                <img src="/assets/img/p-4.jpg" alt="">
              </div>
              <div class="col-lg-6 col-sm-8">
                <img data-aos="fade-left" data-aos-duration="500" src="/assets/img/pd-img-mid-r.jpg" alt="">
                <p class="p-t-2">An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency</p>
              </div>
            </div>
            <div class="pd-details pd-details-2 p-tb-5">
              <div class="col-lg-5 col-sm-12">
                <h3>Interior Design</h3>
                <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency</p>
              </div>
              <div class="col-lg-7 col-sm-12"  data-aos="fade-left" data-aos-duration="500">
                <img src="/assets/img/pd-4.jpg" alt="">
              </div>
            </div>
            <div class="p-b-5"  data-aos="fade-up" data-aos-duration="500">
              <img src="/assets/img/full-width-last.jpg" alt="">
            </div>
            <div class="pd-end">
              <span class="pd-line"></span>
              <p>Thanks</p>
              <span class="pd-line"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- End Portfolio Details -->
  <%- include('./includes/footer') %>