<%- include('./includes/header', { title: 'Services - SM Ingenious Construction (SMC- Private) Limited' }) %>

<!-- Start Hero -->  
<div class="sec-breadcrumb">
    <div class="container">
      <div class="breadcrumb-content text-center">
        <h2 class="ml14 p-t-5">
          <span class="text-wrapper">
            <span class="letters">Services</span>
            <span class="line"></span>
          </span>
        </h2>
        <ol class="breadcrumb text-upper">
          <li class="m-right-10px">
            <a href="/">Home</a>
          </li>
          <li class="p-lr-1">/</li>
          <li class="breadcrumb-item-active">Services</li>
        </ol>
      </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start Work Process -->
<section class="process">
  <div class="container p-tb-10">
    <div class="row st-htext">
      <h2>Work Process</h2>
    </div>
    <div class="row steps">
      <div class="col-lg-4 col-sm-12 step">
        <h2>01</h2>
        <h4 data-aos="fade-up" data-aos-duration="1000">Planning & Site Preparation</h4>
        <p>Evaluating the site, obtaining permits, and preparing the ground for construction.</p>
      </div>
      <div class="col-lg-4 col-sm-12 step step-mid">
        <h2>02</h2>
        <h4 data-aos="fade-up" data-aos-duration="1200">Foundation & Structural Work</h4>
        <p>Building the foundation, erecting structural elements, and ensuring stability.</p>
      </div>
      <div class="col-lg-4 col-sm-12 step">
        <h2>03</h2>
        <h4 data-aos="fade-up" data-aos-duration="1400">Finishing & Final Touches</h4>
        <p>Installing interiors, electrical, plumbing, and completing the final inspections.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Work Process -->

<!-- Start Services -->
<section class="cs-services p-t-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 pe-lg-4">
        <div class="service-harea">
          <h2 class="ml13">Spaces Our Interior Design Services</h2>
          <div class="marquee-container">
            <div class="marquee-text">
              <span>Site Preparation --</span>
              <span>Structural Engineering --</span>
              <span>Residential Construction --</span>
              <span>Commercial Construction --</span>
              <span>Project Management --</span>
              <span>Renovation & Remodeling --</span>
            </div>
          </div>
          <a class="primary-btn" href="/contact-us">Build Together<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.4273 4.55668C14.6225 4.36142 14.6225 4.04483 14.4273 3.84957L11.2453 0.667591C11.05 0.472329 10.7335 0.472329 10.5382 0.667591C10.3429 0.862853 10.3429 1.17944 10.5382 1.3747L13.3666 4.20312L10.5382 7.03155C10.3429 7.22681 10.3429 7.5434 10.5382 7.73866C10.7335 7.93392 11.05 7.93392 11.2453 7.73866L14.4273 4.55668ZM0.0737305 4.70312H14.0737V3.70312H0.0737305V4.70312Z" fill="white" />
            </svg></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="services">
          <a class="service s-bg-1" href="javascript:;">
            <img src="/assets/img/category/residential-construction.jpeg" alt="">
            <div class="content">
              <h5>Residential <br /> Construction</h5>
              <p>Building high-quality, durable homes tailored to your needs with expert craftsmanship.</p>
            </div>
          </a>
          <a class="service s-bg-3" href="javascript:;">
            <img src="/assets/img/category/commercial-construction.jpg" alt="">
            <div class="content">
              <h5>Commercial <br /> Construction</h5>
              <p>Expert construction services for offices, malls, and commercial spaces, ensuring quality and efficiency.</p>
            </div>
          </a>
          <a class="service s-bg-5" href="javascript:;">
            <img src="/assets/img/category/industrial-construnction.webp" alt="">
            <div class="content">
              <h5>Industrial <br /> Construction</h5>
              <p>Constructing factories, warehouses, and industrial plants with safety and efficiency in mind.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="services">
          <a class="service s-bg-2" href="javascript:;">
            <img src="/assets/img/category/office-construction.webp" alt="">
            <div class="content">
              <h5>Office <br /> Construction</h5>
              <p>Designing and building modern office spaces that enhance productivity and collaboration.</p>
            </div>
          </a>
          <a class="service s-bg-4" href="javascript:;">
            <img src="/assets/img/category/gym-construction.jpg" alt="">
            <div class="content">
              <h5>GYM <br /> Construction</h5>
              <p>Creating state-of-the-art gym facilities with durable materials and functional designs.</p>
            </div>
          </a>
          <a class="service s-bg-6" href="javascript:;">
            <img src="/assets/img/category/restaurant-construction.jpg" alt="">
            <div class="content">
              <h5>Restaurant <br /> Construction</h5>
              <p>Designing and constructing stylish, functional restaurants that enhance the dining experience.</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Services -->

<!-- Start CTA -->
<section class="mt-10-rem">
  <div class="cta text-center">
    <div class="container">
      <div class="cta-content">
        <!-- <h2 class="wow animate__fadeInUp" data-wow-duration="0.7s">Ready to Work Together?</h2> -->
        <h2 class="wow animate__fadeInUp" data-wow-duration="0.7s">Competent, Integrated and Proven: Our Quality Never Goes Out Of Style</h2>
        <p class="p-b-2">Every component of Ingenious construction is meticulously crafted, synergizing seamlessly to bolster our brand’s narrative.</p>
        <div class="p-t-1">
          <a class="primary-btn" href="/contact-us">Build Together <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.4273 4.55668C14.6225 4.36142 14.6225 4.04483 14.4273 3.84957L11.2453 0.667591C11.05 0.472329 10.7335 0.472329 10.5382 0.667591C10.3429 0.862853 10.3429 1.17944 10.5382 1.3747L13.3666 4.20312L10.5382 7.03155C10.3429 7.22681 10.3429 7.5434 10.5382 7.73866C10.7335 7.93392 11.05 7.93392 11.2453 7.73866L14.4273 4.55668ZM0.0737305 4.70312H14.0737V3.70312H0.0737305V4.70312Z" fill="white" />
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start CTA -->
<%- include('./includes/footer') %>